<div class="input-container">
  <div style="display: flex; align-items: center;"> <!-- Align items center -->
    <label for="sleeper-league-id" class="sleeper-label">Sleeper League ID</label>
    <a class="info-icon" title="What is my league ID?" (click)="goToMyLeague($event)">
      <app-my-league-icon></app-my-league-icon>
    </a>
  </div>
  <input id="sleeper-league-id" class="input" type="text" [(ngModel)]="sleeperLeagueId"
    (input)="onSleeperLeagueIdChange($event)" placeholder="12345678234" />
  <button (click)="onLeagueIdInputChange(sleeperLeagueId)" class="button">Fetch Trades</button>
</div>