<div *ngIf="(!tradeResponse && !loading)" class="centered-input">
  <app-trade-home (sleeperLeagueIdChange)="onLeagueIdChange($event)"></app-trade-home>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>
<div class="main-container">
  <div class="trade-left-nav">
    <div *ngIf="loading && !tradeResponse" class="trade-item">
      <img src="{{ where_them_trades_at_url }}" alt="Loading..." class="loading-img" />
    </div>
    <div *ngIf="tradeResponse" class="trade-header-container">
      <div class="league-name" id="league-name">
        <img [src]="getLeagueAvatar()" alt="League Avatar" class="league-avatar" />
        <h3>{{ tradeResponse.league_name }}</h3>
      </div>
    </div>

    <div *ngIf="tradeResponse || loading" class="trade-results-container" id="trade-results-container">
      <div *ngIf="tradeResponse" style="padding-left: 10px">
        <p>{{ tradeResponse.total_trades }} trades found</p>

        <div class="custom-dropdown">
          <div class="selected-option" (click)="toggleDropdown()">
            {{ selectedUser?.user_name || 'Select a User' }}
          </div>

          <ul *ngIf="dropdownOpen" class="options-list">
            <li (click)="selectUser()">
              <span>All</span>
            </li>
            <li *ngFor="let user of tradeResponse.league_users" (click)="selectUser(user.roster_id)">
              <img [src]="getRosterAvatar(user.roster_id)" alt="{{ user.user_name }}'s Avatar"
                class="avatar-dropdown" />
              <span>{{ user.user_name }}</span>
            </li>
          </ul>
        </div>

        <!-- Pagination controls at the top -->
        <app-trade-pagination [loading]="loading" [tradeResponse]="tradeResponse" [currentPage]="currentPage"
          (fetchTradesEvent)="fetchTrades($event)">
        </app-trade-pagination>
      </div>

      <!-- Scrollable trade list -->
      <div class="scrollable-trade-list">
        <div *ngIf="loading" class="trade-item">
          <div *ngFor="let i of [].constructor(20)">
            <img src="{{ where_them_trades_at_url }}" alt="Loading..." class="loading-img" />
          </div>
        </div>
        <div *ngIf="!loading">
          <div *ngFor="let trade of tradeResponse?.trades" class="trade-item"
            [ngClass]="{'selected': trade === selectedTrade}" (click)="selectTrade(trade)">
            <p>{{ trade.created_at_pretty }}</p>
            <div class="scrollable-trade-list-item-container">
              <div class="left-align">
                <app-trade-scroll-item [tradeData]="trade[trade.roster_ids[0]]">
                </app-trade-scroll-item>
              </div>
              <div class="right-align">
                <app-trade-scroll-item [tradeData]="trade[trade.roster_ids[1]]">
                </app-trade-scroll-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider">

  </div>

  <!-- Full details of the selected trade -->
  <div class="trade-details" id="trade-details" *ngIf="selectedTrade">
    <div *ngIf="selectedTrade && tradeResponse">
      <app-trade-details [leagueUsers]="tradeResponse.league_users" [selectedTrade]="selectedTrade"></app-trade-details>
    </div>
  </div>
</div>