<div *ngIf="tradeResponse">
  <div class="trade-header">
    <img [src]="getLeagueAvatar()" alt="League Avatar" class="league-avatar" />
    <h3>{{ tradeResponse.league_name }}</h3>
  </div>
  <h6>Season {{tradeResponse.previous_leagues.length + 1 }} </h6>

  <!-- <div class="previous-leagues">
    <h5>Previous Leagues</h5>
    <div *ngFor="let previous_leaugue of tradeResponse.previous_leagues">
      <ul>
        <li>Season: {{ previous_leaugue.season }} | League ID: {{ previous_leaugue.previous_league_id }}</li>
      </ul>
    </div>
  </div> -->
</div>

<div class="trade-results-container">

  <div class="trade-list-container">

    <!-- Input field for Sleeper League ID -->
    <div class="league-id-input">
      <label for="sleeper-league-id">Sleeper League ID:</label>
      <input id="sleeper-league-id" type="text" [(ngModel)]="sleeperLeagueId" placeholder="Enter League ID" />
      <button (click)="fetchTrades()" [disabled]="loading">Fetch Trades</button>
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>

    <div *ngIf="tradeResponse">

      <p>{{ tradeResponse.total_trades }} trades found</p>

      <div class="custom-dropdown">
        <div class="selected-option" (click)="toggleDropdown()">
          {{ selectedUser?.user_name || 'Select a user' }}
        </div>
      
        <ul *ngIf="dropdownOpen" class="options-list">

          <li (click)="selectUser(null)">
            <span>All</span>
          </li>
      
          <li *ngFor="let user of tradeResponse.league_users" (click)="selectUser(user)">
            <img [src]="user.avatar_url" alt="{{ user.user_name }}'s Avatar" class="avatar-dropdown" />
            <span>{{ user.user_name }}</span>
          </li>
        </ul>
      </div>
      

      <!-- Pagination controls at the top -->
      <div class="pagination">
        <button (click)="firstPage()" [disabled]="tradeResponse?.page == 1 || loading">First</button>
        <button (click)="previousPage()" [disabled]="!tradeResponse?.has_previous || loading">Previous</button>
        <span>Page {{ tradeResponse?.page }} of {{ tradeResponse?.total_pages }}</span>
        <button (click)="nextPage()" [disabled]="!tradeResponse?.has_next || loading">Next</button>
        <button (click)="lastPage()"
          [disabled]="tradeResponse?.page == tradeResponse?.total_pages || loading">Last</button>
      </div>
    </div>

    <!-- Scrollable trade list -->
    <div class="scrollable-trade-list">
      <div *ngIf="loading" class="trade-item">
        <div *ngFor="let i of [].constructor(20)">
          <img src="{{ where_them_trades_at_url }}" alt="Loading..." class="loading-img" />
        </div>
      </div>
      <div *ngIf="!loading">
        <div *ngFor="let trade of tradeResponse?.trades" class="trade-item" (click)="selectTrade(trade)">
          <p>{{ trade.created_at_formatted }}</p>
          <p>{{ trade[trade.roster_ids[0]].user_name }} | {{ trade[trade.roster_ids[1]].user_name }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Full details of the selected trade -->
  <div class="trade-details" *ngIf="selectedTrade">

    <div *ngIf="selectedTrade">
      <p>{{ selectedTrade.created_at_formatted }}</p>

      <!-- Roster container to display rosters side by side -->
      <div class="roster-container">

        <!-- Loop through roster IDs and display TradeRoster details -->
        <div *ngFor="let rosterId of selectedTrade.roster_ids" class="roster-block">

          <!-- Check if the TradeRoster exists for this rosterId -->
          <div *ngIf="selectedTrade[rosterId] as roster">
            <div class="roster-header">
              <img [src]="roster.avatar_url" alt="{{ roster.user_name }}'s Avatar" class="roster-avatar" />
              <h4 class="roster-username">{{ roster.user_name }}</h4>
            </div>

            <div [ngClass]="{'roster-won': roster.won, 'roster-lost': !roster.won}">

              <div class="value-container">
                <p>Total Current Value: {{ roster.total_current_value }}</p>

                <img *ngIf="roster.total_current_value > roster.total_value_when_traded"
                  src="assets/icons/stonks_up.png" alt="Value increased" class="value-change-icon" />

                <img *ngIf="roster.total_current_value < roster.total_value_when_traded"
                  src="assets/icons/stonks_down.jpg" alt="Value decreased" class="value-change-icon" />
              </div>

              <p>Total Value When Traded: {{ roster.total_value_when_traded }}</p>
            </div>


            <div *ngIf="roster.fab > 0">
              <p>FAB: ${{ roster.fab }}</p>
            </div>

            <!-- Display players for this roster -->
            <div *ngIf="roster.players.length > 0">
              <h5>Players:</h5>
              <ul>
                <li *ngFor="let player of roster.players">

                  <img [src]="getPlayerImageUrl(player.player_id)" alt="{{ player.player_name }}'s Avatar"
                    style="width: 25px; height: 16px;" />

                  {{ player.player_name }}
                  <ul>
                    <li>Value When Traded: {{ player.value_when_traded == 0 ? '?' : player.value_when_traded }}</li>
                    <li>Value Latest Value: {{ player.latest_value }}</li>
                  </ul>
                </li>
              </ul>
            </div>

            <!-- Display draft picks for this roster -->
            <div *ngIf="roster.draft_picks.length > 0;">
              <ul>
                <h5>Draft Picks:</h5>
                <li *ngFor="let pick of roster.draft_picks">
                  {{ pick.description }}
                  <ul>
                    <li>Value When Traded: {{ pick.value_when_traded }}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- <ng-template #noDraftPicks>
              <p>No draft picks for this roster.</p>
            </ng-template> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>