.trade-list-container {
  width: 250px;
  margin-right: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.league-id-input {
  margin-bottom: 20px;
}

.scrollable-trade-list {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.trade-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.trade-item.selected {
  background-color: rgba(202, 221, 221, 0.889);
}

.trade-item.selected:hover {
  background-color: rgba(202, 221, 221, 0.889);
}

.trade-item:hover {
  background-color: #dbe7e8;
}

.trade-details {
  flex-grow: 1;
  padding: 20px;
  border: 1px solid #ddd;
  max-width: 70%;
}

.error {
  color: red;
}

.player-avatar {
  /* width: 25px;  */
  /* height: 20px; */
  width: 15%;
  aspect-ratio: 25 / 16;
}

.trade-results-container {
  display: flex;
  align-items: flex-start;
}

/* Container that holds all roster blocks side by side */
.roster-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Individual roster block */
.roster-block {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  max-width: 400px;
  box-sizing: border-box;
}

/* Styling for players and picks */
ul {
  padding-left: 20px;
}

h5 {
  margin-top: 10px;
}

.roster-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.roster-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.league-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.roster-username {
  margin: 0;
  font-size: 18px;
}

.roster-won {  
  border: 2px solid rgba(50, 145, 50, 0.7);
  box-shadow: 0 0 10px rgba(50, 145, 50, 0.7);
  background-color: transparent;
}

.roster-lost {
  border: 2px solid rgba(212, 80, 80, 0.132);
  box-shadow: 0 0 10px rgba(222, 79, 79, 0.7);
  background-color: transparent;
}

.trade-background {
  background-color: rgba(175, 161, 215, 0.132);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.trade-header {
  display: flex;
}

.loading-img {
  width: 100%;
  height: auto;
}

.value-container {
  display: flex;
  align-items: center;
}

.value-change-icon {
  margin-left: 2px;
  margin-bottom: 3px;
  width: 25px;
  height: 25px;
}

.avatar-dropdown {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.roster-dropdown {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.previous-leagues  {
  border-bottom: 1px solid #eee;
}

.custom-dropdown {
  position: relative;
  width: 200px;
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.options-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
}

.options-list li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.options-list li:hover {
  background-color: #f0f0f0;
}

.avatar-dropdown {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.centered-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.league-id-input {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
