.trade-list-container {
  width: 250px;
  margin-right: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.league-id-input {
  margin-bottom: 20px;
}

.scrollable-trade-list {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.trade-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.trade-item:hover {
  background-color: #f9f9f9;
}

.trade-details {
  flex-grow: 1;
  padding: 20px;
  border: 1px solid #ddd;
  max-width: 70%;
}

.error {
  color: red;
}

.trade-results-container {
  display: flex;
  align-items: flex-start;
}

/* Container that holds all roster blocks side by side */
.roster-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Individual roster block */
.roster-block {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  max-width: 400px;
  box-sizing: border-box;
}

/* Styling for players and picks */
ul {
  padding-left: 20px;
}

h5 {
  margin-top: 10px;
}

.roster-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.roster-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.roster-username {
  margin: 0;
  font-size: 18px;
}

/* Light transparent green background for winning rosters */
.roster-won {  background-color: rgba(50, 145, 50, 0.127);
}

.roster-lost {
  background-color: rgba(212, 80, 80, 0.132);
}

.trade-background {
  background-color: rgba(175, 161, 215, 0.132);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading-img {
  width: 100%;
  height: auto;
}