

<div *ngIf="!leagueResponses && !loading" class="centered-input" >
    <div *ngIf="error" class="error">
        <p>{{ error }}</p>
    </div>

    <div class="input-container">
        <label for="sleeper-user-name" class="sleeper-label">Sleeper username</label>
        <input id="sleeper-user-name" type="text" class="input" [(ngModel)]="userName"
            placeholder="Enter Sleeper username" />
        <button (click)="fetchUserLeagues()" [disabled]="loading" class="button">Fetch Leagues</button>
    </div>

</div>

<div *ngIf="loading">
    <img src="{{ loadingGif }}" alt="Loaodingr" />
</div>

<div *ngIf="leagueResponses" class="league-results-container">
    <div class="league-panel-container">
        <div class="league-panel" *ngFor="let league of leagueResponses" (click)="navigateToTrades(league.league_id)">
            <div class="league-header">
                <img [src]="getLeagueAvatar(league.avatar)" alt="{{ league.name }}'s Avatar" class="league-avatar" />
                <h3>{{ league.name }}</h3>
            </div>
            <div class="league-info">
                <p>{{ league.type }} | League ID: {{ league.league_id }}</p>
            </div>
        </div>
    </div>
</div>